<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur Azitropy</title>
</head>
<body>
    <h1>Bienvenue sur le Quiz Infectieux</h1>
    <p>Scannez le QR code ou accédez directement pour commencer le quiz.</p>
    <img src="{{ url_for('afficher_qr') }}" alt="QR Code"><br><br>
    <form method="post">
        <label for="nom">Entrez votre nom :</label>
        <input type="text" id="nom" name="nom" required>
        <button type="submit">Commencer</button>
    </form>
</body>
</html>
