<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Merci</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            text-align: center;
        }
        h2 {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <h2>Merci pour votre participation !</h2>
</body>
</html>
