<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Médical</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Quiz Médical</h1>
    <form method="POST" action="{{ url_for('quiz', nom=nom) }}">
        <!-- Champ pour saisir le nom -->
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" value="{{ nom }}" required><br><br>

        <!-- Affichage des questions et choix -->
        {% for i, question in enumerate(questions) %}
            <p>{{ question }}</p>
            <div>
                {% for option in choix[i] %}
                    <input type="radio" id="q{{ loop.index }}" name="q{{ loop.index0 }}" value="{{ option[0] }}">
                    <label for="q{{ loop.index }}">{{ option }}</label><br>
                {% endfor %}
            </div>
            <br>
        {% endfor %}

        <!-- Bouton pour envoyer les réponses -->
        <button type="submit">Envoyer vos réponses</button>
    </form>

    <!-- Bouton pour voir les statistiques -->
    <form method="GET" action="{{ url_for('stats') }}">
        <button type="submit">Voir les statistiques</button>
    </form>

    <br>
    <a href="{{ url_for('accueil') }}">Retour à la page d'accueil</a>
</body>
</html>
